{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Register</h3>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!-- form -->
                <form class="form-horizontal" method="POST" action="{% url 'money:create_account' %}">
                    {% csrf_token %}
                    <!--<div class="form-group">
                        <label for="email">Email</label>
                            <input class="form-control" type="text" id="email">
                    </div>-->
                    <div class="form-group">
                        <label for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </form>
                <!-- endform-->
                <a href="{% url 'login' %}">Click here to Login</a>
            </div>
        </div>
    </div><!-- container-->
{% endblock %}

<!--

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>

-->
